.info-2-education {
  height: auto;
  background: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #333;
  position: relative;
  padding: 30px 50px;
}
.info-2-education h2 {
  font-size: 40px;
}
.info-2-education p {
  margin: 10px 0;
}
.info-2-education .grid {
  gap: 30px;
  overflow: visible;
}
.info-2-education::after {
  content: "";
  position: absolute;
  height: 100px;
  top: -50px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
}
.info-education-text {
  padding-top: 50px;
  width: 600px;
  display: block;
  margin: 0 0 0 auto;
}
.heading img {
  width: auto;
  height: 220px;
  border-radius: 30px;
  border-color: #fff;
  border-style: solid;
  border-width: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
